.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 94%;
  height: 11vh;
  padding-left: 2%;
  padding-right: 2%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 3%;
  top: 3%;
  background-color: #242527;
  z-index: 1;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  -o-transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1) 0.2s, -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.5, 1) 0.2s; }

.logo {
  width: 16%;
  height: 35%;
  margin-right: 9%;
  text-indent: -9999px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%; }

.nav__item {
  position: relative; }
  .nav__item:before {
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e11203;
    z-index: -1;
    -webkit-transition: width 0.2s cubic-bezier(0.5, 0, 0.5, 1);
    -o-transition: width 0.2s cubic-bezier(0.5, 0, 0.5, 1);
    transition: width 0.2s cubic-bezier(0.5, 0, 0.5, 1); }
  .nav__item_active:before {
    -webkit-transition: width 0.2s cubic-bezier(0.5, 0, 0.5, 1) 0.7s;
    -o-transition: width 0.2s cubic-bezier(0.5, 0, 0.5, 1) 0.7s;
    transition: width 0.2s cubic-bezier(0.5, 0, 0.5, 1) 0.7s; }
  .nav__item:hover:before {
    width: 100%; }

.nav__link {
  display: inline-block;
  padding-top: 0.5em;
  padding-right: 1.25em;
  padding-bottom: 0.5em;
  padding-left: 1.25em;
  color: #f1f1f1;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

.search {
  position: relative;
  height: 100%;
  width: 1.2em;
  margin-left: 1em;
  margin-right: 1em; }
  .search .icon_search_header {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.search__block {
  height: 0;
  position: absolute;
  top: 100%;
  right: -1em;
  background-color: #242424;
  overflow: hidden;
  z-index: -1; }
  .search__block form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.search__block_open {
  height: auto; }

.search__input {
  padding: 1em;
  color: #f1f1f1;
  font-size: 0.9em;
  background-color: #131313;
  border: none; }
  .search__input:focus {
    outline: none;
    background-color: #3a3e3f; }

.search__submit {
  padding: 1em;
  font-size: 0.9em;
  background-color: #131313;
  border: none;
  cursor: pointer; }

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.login__link {
  color: #f1f1f1;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 1em; }
  .login__link_log:after {
    content: "|";
    margin-left: 1em; }

.icon_user {
  height: 1.4em; }

.loaded .header {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.loaded .nav__item_active:before {
  width: 100%; }
