.allNews {
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 15vh;
  margin-bottom: 15vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .allNews .more__btn {
    margin-top: 5vh; }

.news__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh; }

.news_allNews {
  width: 63%;
  margin-right: 7%; }
  .news_allNews .news__item_top:before {
    width: 0.9%; }
  .news_allNews .news__dateTime {
    background-color: #131313; }
  .news_allNews .news__dateTime,
  .news_allNews .newsImg {
    width: 12.5%; }
  .news_allNews .news__head {
    width: 75%; }

.news__aside {
  width: 30%;
  height: 80vh;
  margin-top: 1em; }
