/*-----------------------------------------------------------------*/
/*-- Header Style --*/
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 94%;
	height: 11vh;
	padding-left: 2%;
	padding-right: 2%;
	box-sizing: border-box;
	position: absolute;
	left: 3%;
	top: 3%;
	background-color: $header;
	z-index: 1;
	transform: translateY(-200%);/* unloaded state */
	transition: transform 0.5s $ttf 0.2s;
}
.logo {
	width: 16%;
	height: 35%;
	margin-right: 9%;
	text-indent: -9999px;
}
/*-----------------------------------------------------------------*/
/*-- Search Block --*/
.search {
	position: relative;
	height: 100%;
	width: 1.2em;
	margin-left: 1em;
	margin-right: 1em;
	.icon_search_header {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
.search__block {
	height: 0;
	position: absolute;
	top: 100%;
	right: -1em;
	background-color: $bg;
	overflow: hidden;
	z-index: -1;
	form {
		display: flex;
	}
}
.search__block_open {
	height: auto;
}
.search__input {
	padding: 1em;
	color: $menuClr;
	font-size: 0.9em;
	background-color: $blk;
	border: none;
	&:focus {
		outline: none;
		background-color: $lightGrey;
	}
}
.search__submit {
	padding: 1em;	
	font-size: 0.9em;
	background-color: $blk;
	border: none;
	cursor: pointer;
}
/*-- /Search Block --*/
/*-----------------------------------------------------------------*/
/*-- Log In Block --*/
.login__block {
	display: flex;
	align-items: center;
}
.login__link {
	color: $menuClr;
	font-size: 0.9em;
	@extend %proxi-reg;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 1em;
	&_log {
		&:after {
			content: "|";
			margin-left: 1em;
		}
	}
}
.icon_user {
	height: 1.4em;
}
.user__block {
	display: none;
	align-items: center;
}
.user__name {
	color: $red;
	font-size: 1em;
	@extend %proxi-eXbld;
	margin-right: 1em;
}
.user__photo {
	width: 3.5em;
	height: 3.5em;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.icon {
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&_none {
		img {
			display: none;
		}
		.icon {
			display: inline-block;
		}
	}
}
.login_loged {
	.login__block {
		display: none;
	}
	.user__block {
		display: flex;
	}
}
/*-- /Log In Block --*/
/*-----------------------------------------------------------------*/
/*-- Log In Menu --*/
.login__wrap {
	width: 100%;
	height: 0;/* login menu close 100vh */
	position: fixed;
	top: 0;
	left: 0;
	background-color: $overlay;
	z-index: 100;
	transition: height 0.5s $ttf 1s;
}
.loginMenu__wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	height: 0;/* login menu close 75vh */
	padding: 0;/* login menu close 3% */
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $blk;
	transition: all 0.5s $ttf 0.5s;
}
.loginMenu__close {
	position: absolute;
	top: 3px;
	right: 3px;
	opacity: 0;/* login menu close */
	transition: opacity 0.5s $ttf 0s;
}
.loginMenu__head {
	position: relative;
	overflow: hidden;
}
.loginMenuHead {
	color: #fff;
	@extend %proxi-reg;
	font-size: 2.4em;
	text-align: center;
	transform: translateY(-100%);/* login menu close */
	opacity: 0;/* login menu close */
	transition: all 0.5s $ttf 0s;
	&_reg {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-100%);/* login menu close */
		opacity: 0;/* login menu close */
	}
}
.login__menu {
	position: relative;
	height: 70%;
	overflow: hidden;
}
.loginMenu {
	width: 100%;
	height: 100%;
	transform: translateY(-100%);	/* login menu close */
	opacity: 0;/* login menu close */
	transition: all 0.5s $ttf 0s;
	&_reg {
		position: absolute;
		top: 0;
		left: 0;
	}
	input {
		&[type=text],
		&[type=email],
		&[type=password] {
			width: 100%;
			padding: 0.5em 1.25em;
			margin-bottom: 1em;
			box-sizing: border-box;
			color: #fff;
			@extend %proxi-reg;
			font-size: 1em;
			background-color: $blk;
			outline: none;
			border: 2px solid $newsClr;
			&:placeholder {
				color: $newsClr;
			}
		}
		&[type=submit] {
			display: inline-block;
		    padding-right: 0;
		    padding-left: 0;
		    color: #fff;
		    @extend %proxi-bld;
		    font-size: 1em;
		    line-height: 2em;
		    text-transform: uppercase;
			background-color: transparent;
			border: none;
		}
	}
}
.loginMenu__links {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.loginMenu__link {
	color: #fff;
	@extend %proxi-reg;
	font-size: 0.9em;
	transform: translateY(100%);/* login menu close */
	opacity: 0;/* login menu close */
	transition: transform 0.5s $ttf 0s, opacity 0.5s $ttf 0s;
	&_reg {
		position: absolute;
	}
}
.loginMenu__txt {
	color: #fff;
	@extend %proxi-reg;
	font-size: 1.2em;
	line-height: 2em;
	position: relative;
	opacity: 0;/* login menu close */
	transition: opacity 0.5s $ttf 0s;
	.icon {
		width: 2em;
		height: 2em;
		margin-left: 1em;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
/* login menu open */
.login__wrap_open {
	height: 100vh;
	transition: height 0.5s $ttf 0s;
	.loginMenu__wrap {
		height: 75vh;
		padding: 3%;
		transition: all 0.5s $ttf 0.5s;
	}
	.loginMenu__close,
	.loginMenu__txt {
		opacity: 1;
		transition: opacity 0.5s $ttf 1s;
	}
	&.login__wrap_enter {
		.loginMenuHead_enter,
		.loginMenu_enter,
		.loginMenu__link_enter {
			transform: translateY(0%);
			opacity: 1;
			transition: all 0.5s $ttf 0.75s;
		}
		.loginMenu_enter {
			transform: translateY(0%);
			opacity: 1;
			transition: transform 1s $ttf 0.75s, opacity 1s $ttf 1s;
		}
	}
	&.login__wrap_reg {
		.loginMenuHead_reg,
		.loginMenu__link_reg {
			transform: translateY(0%);
			opacity: 1;
			transition: all 0.5s $ttf 0.75s;
		}
		.loginMenu_reg {
			transform: translateY(0%);
			opacity: 1;
			transition: transform 1s $ttf 0.75s, opacity 1s $ttf 1s;
		}
	}
}
/*-- /Log In Menu --*/
/*-----------------------------------------------------------------*/
/*-- Loaded State --*/
.loaded {
	.header {
		transform: translateY(0%);
	}
	.nav__item_active {
		&:before{
			width: 100%;
		}
	}
}
/*-- /Loaded State --*/
/*-- /Header CSS --*/