/*-----------------------------------------------------------------*/
/*-- Header Style --*/
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 94%;
	height: 11vh;
	padding-left: 2%;
	padding-right: 2%;
	box-sizing: border-box;
	position: absolute;
	left: 3%;
	top: 3%;
	background-color: $header;
	z-index: 1;
	transform: translateY(-200%);/* unloaded state */
	transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
}
.logo {
	width: 16%;
	height: 35%;
	margin-right: 9%;
	text-indent: -9999px;
}
/*-----------------------------------------------------------------*/
/*-- Search Block --*/
.search {
	position: relative;
	height: 100%;
	width: 1.2em;
	margin-left: 1em;
	margin-right: 1em;
	.icon_search_header {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
.search__block {
	height: 0;
	position: absolute;
	top: 100%;
	right: -1em;
	background-color: $bg;
	overflow: hidden;
	z-index: -1;
	form {
		display: flex;
	}
}
.search__block_open {
	height: auto;
}
.search__input {
	padding: 1em;
	color: $menuClr;
	font-size: 0.9em;
	background-color: $blk;
	border: none;
	&:focus {
		outline: none;
		background-color: $lightGrey;
	}
}
.search__submit {
	padding: 1em;	
	font-size: 0.9em;
	background-color: $blk;
	border: none;
	cursor: pointer;
}
/*-- /Search Block --*/
/*-----------------------------------------------------------------*/
/*-- Log In Block --*/
.login__block {
	display: flex;
	align-items: center;
}
.login__link {
	color: $menuClr;
	font-size: 0.9em;
	@extend %proxi-reg;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 1em;
	&_log {
		&:after {
			content: "|";
			margin-left: 1em;
		}
	}
}
.icon_user {
	height: 1.4em;
}
.user__block {
	display: none;
	align-items: center;
}
.user__name {
	color: $red;
	font-size: 1em;
	@extend %proxi-eXbld;
	margin-right: 1em;
}
.user__photo {
	width: 3.5em;
	height: 3.5em;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.icon {
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&_none {
		img {
			display: none;
		}
		.icon {
			display: inline-block;
		}
	}
}
.login_loged {
	.login__block {
		display: none;
	}
	.user__block {
		display: flex;
	}
}
/*-- /Log In Block --*/
/*-----------------------------------------------------------------*/
/*-- Log In Menu --*/

/*-- Log In Menu --*/
/*-----------------------------------------------------------------*/
/*-- Loaded State --*/
.loaded {
	.header {
		transform: translateY(0%);
	}
	.nav__item_active {
		&:before{
			width: 100%;
		}
	}
}
/*-- /Loaded State --*/
/*-- /Header CSS --*/