$bg: #242424;
$blk: #131313;
$darkGrey: #242527;
$lightGrey: #3a3e3f;
$sectionHead: #888888;
$vidDate: #333335;
$vidHead: #3c3d3f;
$overlay: rgba(0,0,0,0.6);
$overlayLight: rgba(0,0,0,0.2);
$red: #e11203;
$menuClr: #f1f1f1;
$newsClr: #f5f2eb;

$min_width: 1280px;
$max_width: 1920px;
$min_font: 12px;
$max_font: 20px;

