@import 'global/variables';
@import 'global/global';

.loading {
    height: 100vh;
    overflow: hidden;
}
section,
footer {
    display: none;
}

@import 'components/navigation';
@import 'global/header';

@import 'about/club-main';
@import 'about/club-about';

@import 'global/footer';
// Mobile Styles
@import 'global/header-mob';

@import 'about/club-main-mob';
@import 'about/club-about-mob';


@import 'global/footer-mob';