@import 'variables';

.header {
	display: flex;
	width: 94%;
	height: 11vh;
	padding-left: 2%;
	padding-right: 2%;
	box-sizing: border-box;
	position: absolute;
	left: 3%;
	top: 3%;
	background-color: $darkGrey;
}
.main__logo {

	width: 16%;
	text-indent: -9999px;
}
.main__nav {
	display: flex;
}
.nav__link {
	color: $wht;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}
.header__user {
	color: $wht;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
}