@import 'variables';
@import 'global';

.loading {
    height: 100vh;
    overflow: hidden;
}
section,
footer {
    display: none;
}

@import 'components/navigation';
@import 'header';
@import 'components/match-tables';
@import 'components/news-list';
@import 'main/main-block';
@import 'components/videos-list';
@import 'main/video-block';
@import 'main/matches-block';
@import 'main/news-block';
@import 'footer';