@import 'variables';
.video {
	height: 100vh;
	padding-left: 3%;
	padding-right: 3%;
	box-sizing: border-box;
}
.videos__wrap {
	display: flex;
	justify-content: space-between;
	padding-left: 2%;
	padding-right: 2%;
	box-sizing: border-box;
}
.video__wrap {
	width: 30%;
	padding-bottom: calc(30% * 0.6);
	position: relative;
}
.video__txt {
	display: flex;
	width: 96%;
	height: 11vh;
	position: absolute;
	bottom: 5.5vh;
	left: 50%;
	transform: translateX(-50%);
}