// Colors
$blk: #131313;
$header: #1b1b1b;
$bg: #242424;
$darkGrey: #242527;
$tr-th: #2c2c2e;
$trOdd: #2d2d2d;
$vidDate: #333335;
$matchHeadEven: #333738;
$trEven: #3b3b3b;
$vidHead: #3c3d3f;
$lightGrey: #3a3e3f;
$sectionHead: #888888;
$overlayLight: rgba(0,0,0,0.2);
$overlay: rgba(0,0,0,0.7);
$red: #e11203;
$menuClr: #f1f1f1;
$newsClr: #f5f2eb;

// Timing Function 
$ttf: cubic-bezier(0.5, 0, 0.5, 1);

// Screen sizes
$minMob_width: 320px;
$maxMob_width: 1024px;
$min_width: 1280px;
$max_width: 1920px;
// Font sizes
$min_font: 12px;
$max_font: 20px;
