/*-----------------------------------------------------------------*/
/*-- Main Aside Mobile --*/
@media only screen and (max-width: 1200px) {
	.main__aside {
		width: 100%;
		padding-left: 2%;
		padding-right: 2%;
		box-sizing: border-box;
		margin-top: 10vh;
		order: 99;
	}
	.aside__wrap_fb {
		display: none;
	}
}
/*-- /Main Aside Mobile --*/