/*-----------------------------------------------------------------*/
/*-- News List Mobile --*/
@media only screen and (max-width: 1200px) {
	.news__link {
		height: 15vh;
	}
	.news__dateTime {
		display: none;
	}
	.newsImg {
		width: 30%;
	}
}
@media only screen and (max-width: 1200px) and (orientation: landscape) {
	.newsImg {
		width: 20%;
	}
	.news__head {
		width: 80%;
	}
	.news__item {
		&_video {
			.news__img {
				&:after {
					background-size: 40%;
				}
			}
		}
	}
}
/*-- /News List Mobile --*/