/*-----------------------------------------------------------------*/
/*-- News Mobile Block --*/
@media only screen and (max-width: 1200px) {
	.section__head_allNews {
        &:after {
        	left: 8em;
        }
    }
	.news__wrap {
		flex-wrap: wrap;
	}
	.news_allNews {
		width: 100%;
		margin-right: 0;
		.news__dateTime {
			width: 70%;
		}
		.newsImg {
			width: 30%;
		}
		.news__head {
			width: 70%;
		}
	}
	.news__aside {
		width: 0;
		height: 0;
		iframe {
			display: none;
		}
	}
}
@media only screen and (max-width: 1200px) and (orientation: landscape) {
	.news_allNews {
		.news__dateTime {
			width: 80%;
		}
		.newsImg {
			width: 20%;
		}
		.news__head {
			width: 80%;
		}
	}
}
/*-- /News Mobile Block --*/