/*-----------------------------------------------------------------*/
/*-- Video Block --*/
.video {
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 15vh;
	margin-bottom: 15vh;
	box-sizing: border-box;
}
.section__head_video {
	margin-bottom: 10vh;
}
.videos__wrap {
	padding-left: 2%;
	padding-right: 2%;
}
.more__btn_video {
	margin-top: 5vh;
}
/*-- /Video Block --*/