/*-----------------------------------------------------------------*/
/*-- Video Page Block Mobile --*/
@media only screen and (max-width: 1200px) {
	.section__head_video {
		margin-bottom: 5vh;
		&:after {
			left: 8em;
		}
	}
}
@media only screen and (max-width: 1100px) {
	.video {
		margin-top: calc(5vh + (44px + (2vh * 2)) + 2vw);
	}
}
/*-- /Video Page Block Mobile --*/